* {
    z-index: 1;
}

body {
    background-color: black;
}

#side_bar .button {
    
    position: absolute;
    top: 40px;
    width: 140px;
    height: 50px;
    background-color: white;
}

#side_bar .button2 {
    top: 130px;
}

#side_bar .button3 {
    top: 220px;
}